.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  display: flexbox;
  margin: auto;
  background-color: hsl(0, 0%, 98%);
  padding: 2em;
  width: 45%;
}

.register-form {
  padding-top: 1.5em;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1em;
}

mat-card-actions {
  margin-bottom: 0;
  padding: 0;
}
